* {
    background-color: purple;
    text-align: center;
}
.gg {
   color:gold;
   font-size: 48px;
   font-weight: bold;
   font-family:cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a, li{
    color:gold;
    font-size: 24px;
}
